.neon {
  text-shadow: 0 0 1rem var(--blue100), 0 0 2rem var(--blue200);
}

.box-shadow {
  box-shadow: 0 0 1rem 0 var(--background);
}

@keyframes rotate {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(359deg);
  }
}
